{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
{% endblock %}

{% block content %}
<body>
    <div class="container">
        
        <h2>Sign Up!!!</h2>
        
        <form action="{{ url_for('auth.signup_post') }}" method="post">
            <label>Email: 
                <input type="email" name="email" required />
            </label>
            <label>Password: 
                <input type="password" name="password" required />
            </label>
            <label>Repeat password: 
                <input type="password" name="password_repeat" required />
            </label>
            <input type="submit" value="Sign Up" />
        </form>
        
        <div class="footer">
            <p>Already have an account?</p>
            <a href="{{ url_for('auth.login') }}">Login</a>
            {% with messages = get_flashed_messages() %}
                {% for message in messages %}
                    <div class="notification">{{ message }}</div>
                {% endfor %}
            {% endwith %}
        </div>
    </div>
</body>
{% endblock %}

