<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meet&Eat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    {% block extra_css %}{% endblock %}
</head>

<body>
    {% if current_user.profile and current_user.matching_preferences %}

    <header class="header">
        <h1><a href="{{ url_for('main.search_matches') }}">Meet&Eat</a></h1>
    </header>

    <div class="user-profile">
        {% if current_user.profile and current_user.profile.photo %}
            <img class="user-photo" src="{{ url_for('static', filename='photos/photo-' ~ current_user.profile.photo.id ~ '.' ~ current_user.profile.photo.file_extension) }}" alt="User Photo">
        {% else %}
            <div class="user-photo-placeholder">No Photo</div>
        {% endif %}
        <a href="{{ url_for('main.view_my_profile') }}" class="user-name">{{ current_user.profile.name }}</a>
        <a class="logout-button" href="{{ url_for('auth.logout') }}">Logout</a>
    </div>

    
    <nav class="top-nav">
        <a href="{{ url_for('main.view_my_profile') }}" class="{{ 'active' if request.endpoint == 'main.view_my_profile' else '' }}">
            My Profile
        </a>
        <a href="{{ url_for('main.search_matches') }}" class="{{ 'active' if request.endpoint == 'main.search_matches' else '' }}">
            Browse Matches
        </a>
        <a href="{{ url_for('main.recommended_matches') }}" class="{{ 'active' if request.endpoint == 'main.recommended_matches' else '' }}">
            Suggested Matches
        </a>
        <a href="{{ url_for('main.edit_profile') }}" class="{{ 'active' if request.endpoint == 'main.edit_profile' else '' }}">
            Update Profile
        </a>
        <a href="{{ url_for('main.create_preferences') }}" class="{{ 'active' if request.endpoint == 'main.create_preferences' else '' }}">
            Update Preferences
        </a>
        <a href="{{ url_for('main.view_sent_proposals') }}" class="{{ 'active' if request.endpoint == 'main.view_sent_proposals' else '' }}">
            Sent Proposals
        </a>
        <a href="{{ url_for('main.view_received_proposals') }}" class="{{ 'active' if request.endpoint == 'main.view_received_proposals' else '' }}">
            Received Proposals
        </a>
    </nav>
    {% endif %}

    <main class="main-content">
        {% block content %}{% endblock %}
    </main>
s
    <footer class="footer">
        <p>&copy; <span id="current-year"></span> Meet&Eat. All rights reserved.</p>
        <div class="footer-links">
            <a href="{{ url_for('main.privacy_policy') }}" class="footer-link">Privacy Policy</a>
            <a href="{{ url_for('main.terms_of_service') }}" class="footer-link">Terms of Service</a>
            <a href="{{ url_for('main.contact') }}" class="footer-link">Contact Us</a>
        </div>
    </footer>

</body>
</html>

